.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px var(--side-padding) 150px var(--side-padding);

  .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--color-score-border);
    color: #fff;
    padding: 20px;
    margin-top: 25px;
    border-radius: 8px;

    h3 {
      margin-bottom: 10px;
      color: var(--color-text);
    }

    p {
      margin-bottom: 10px;
    }

    p:last-child {
      font-weight: 700;
      padding-left: 20px;
      color: var(--color-text);
    }
  }
}
